<% layout('../layout') -%>

<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url(img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>Devices</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Devices</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Data Area Start ***** -->
<section class="contact-area section_padding_100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- Data Table Area -->
            <div class="col-12 col-md-8">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% i=1; 
                            list.forEach(function(user){ %>
                            <tr onclick="location='/devices/<%=user%>';">
                                <th scope="row"><%=i%></th>
                                <td><%=user%></td>
                                <td><%=user%></td>
                            </tr>
                            <% i=i+1; 
                            }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Data Area End ***** -->