<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
     <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<header>
    <%-blocks.header%>
</header>
<section class="container">
    <h1><%=title%></h1>
 
    <%-body -%>
</section>
<footer>
    <p>Copyright 2019 MyBusiness by Krazyakr</p>
</footer>
</body>
</html>