extends layout

block content
  h1= title
  p Login
  form(method="POST" action='/auth/login')
    div.form-group
      div.form-entry
        label(for='username)') username: 
        input(type="text", name='username')
      div.form-entry
        label(for='password)') password: 
        input(type="password", name='password')
    br
    button(type="submit") Login
