<% layout('./layout') -%>

<form method="POST" action="/auth/login">
    username:&nbsp;<input type="text" name="username"><br>
    password:&nbsp;<input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>

