<% layout('../layout') -%>

<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url(/img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>Sports Events</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sports Events</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Data Area Start ***** -->
<section class="contact-area section_padding_100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- Data Table Area -->
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col"><a href="/events/nfl"><img src="/img/nostratv-img/nfl_logo.jpg"></a></div>
                    <div class="col"><a href="/events/livetv"><img src="/img/nostratv-img/arenavision_logo.jpg"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Data Area End ***** -->