extends ../layout

block content
  h1= title
  p Available NFL Games
  p
  ul
    each item in list.events
      li 
        a.game_link(href='nfl/' + item.id) #{item.title}

  br
  a.back(href='/') Back